<div class="main">
  <div class="container">
    <div class="row">
    <h1>Hello. My name is Julian Jose and I have creative ideas and build websites</h1>
    </div>
    <div class="row">
		<%= link_to home_path do %> 
  	<div class="main_btn">View my Work</div>
		<% end %>
  </div>
</div>
</div>
